{% load cms_tags thumbnail i18n %}

<div class="card-container mb-5 mb-lg-6 faq-category category-{{ instance.id }}">
    <h2 class="mb-2 mb-lg-48">{{ instance.name }}</h2>
    {% for question in instance.child_plugin_instances %}
        {% render_plugin question %}
    {% endfor %}
</div>
