{% load cms_tags staticfiles thumbnail i18n %}

{% block head_local_frontend_files %}

    <script defer src="{% static 'djangocms_faq/plugin_faq.js' %}"
            data-is-reload-on-page-edit="true"></script>
    <link rel="stylesheet" href="{% static 'djangocms_faq/plugin_faq.css' %}">

{% endblock %}

{% block head_prod_frontend_files %}
    <script defer src="{% static 'djangocms_faq/plugin_faq.js' %}"
            data-is-reload-on-page-edit="true"></script>
    {#    <link rel="stylesheet" href="{% static 'djangocms_faq/plugin_faq.css' %}">#}
{% endblock %}

<div class="fag-plugin">
    <div class="accordion">
        <form id="search-form" class="fag-plugin__form mb-5 mb-lg-6">
            <div class="input-group">
                <input class="form-control py-2 border-right-0 border border-square border-muted" type="search" value="" id="faq-search" placeholder="Suchen">
                <span class="input-group-append">
                    <button class="btn btn-outline-primary border-left-0 border border-square border-muted text-primary bg-white px-3" type="submit">
                        <i class="fa fa-search font-size-15 align-middle"></i>
                    </button>
                </span>
            </div>
        </form>
        <div class="fag-plugin__categories">
            {% if categories %}
                <div class="mb-last">
                    {% for category_plugin in instance.child_plugin_instances %}
                        {% render_plugin category_plugin %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
