{% load cms_tags thumbnail i18n %}
<div class="faq-question card">
    <a class="faq-question-title card-header font-size-12 text-brown d-block collapsed d-flex align-items-center justify-content-between"
       href="#question-content-{{ instance.id }}" data-toggle="collapse">
        <div>
            {{ instance.title }}
        </div>
        <i class="card-icon-active fas fa-chevron-up text-primary pl-48"></i>
        <i class="card-icon-inactive fas fa-chevron-down text-primary pl-48"></i>
    </a>
    <div id="question-content-{{ instance.id }}" class="faq-question-content collapse">
        <div class="card-body">
            {% for category_plugin in instance.child_plugin_instances %}
                {% render_plugin category_plugin %}
            {% endfor %}
        </div>
    </div>
</div>
