@import 'plugin/variables/main';

.fag-plugin {
    &__form {
        max-width: 370px;
    }

    .faq-question {
        &[data-is-hidden='true'] {
            display: none;
        }
        .highlighted {
            background: theme-color('secondary');
            color: white;
        }
    }
}
